h2 {
    font-size: 2.5rem;
}


.profile {
    display: inline-block;
    background-color: rgba(46, 49, 49, 0.9);
    margin: 2%;
    padding: 15px 50px;
    width: 510px;
    border-radius: 15px;
}

.profile_pic {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    float: left;
    margin: 3% 2%;
}

.profileText {
    display: block;
    clear: both;
    text-align: justify;
    line-height: 180%;
}

.icon-logo {
    margin: 0 2%;
}

@media screen and (max-width: 600px) {


    .profile {
        width: 90%;
    }

    .profile_pic {
        float: none;
        margin: 2% 2% 0;
    }

    .yourName {
        margin: 15px 0;
    }

}