table {
    font-size: 2rem;
    border-collapse: collapse;
    background: hsla(0, 0%, 0%, 0.6);
    border-radius: 1rem;
}

tr {
    border-bottom: 1px solid;
}

tr:last-child {
    border-bottom: none;
}

thead {
    border-bottom: 1px solid;
}

td {
    border-right: 1px solid;
}

td:last-child {
    border-right: none;
}