body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: #fff;
}

form {
  font-size: 1.5rem;
  font-weight: 600;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

a {
  color: #fff;
}

a:link {
  text-decoration: none;
}

/* Header */

.header_element {
  margin: 3% 3% 0;
  font-weight: bold;
  font-size: 1.2rem;

}

/* Popup Box */
.hover_bkgr {
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.hover_bkgr .vertCenter {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hover_bkgr>div {
  background-color: #111;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.popupCloseButton {
  background-color: #111;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.popupCloseButton:hover {
  background-color: #ccc;
}

.trigger_popup {
  cursor: pointer;
  display: inline-block;
}

.howToPlayText {
  text-align: left;
}

/* Title */
.title {
  font-family: "Playball", cursive;
  font-size: 4rem;
  padding: 0% 15% 1%;
  display: inline-block;
  margin-bottom: 1%;
}

/* Input */
.input {
  margin-left: 10px;
  height: 40px;
  font-size: 1.3rem;
  border-radius: 15px;
  background-color: rgba(46, 49, 49, 0.5);
  color: #fff;
  width: 81px;
}

.inputBox {
  background-color: rgba(51, 51, 170, 0.2);
  color: #fff;
  font-size: 1.5rem;
  width: 250px;
  display: inline-block;
}

#nameInput{
  border-radius: 15px;
}

#numInputText{
  font-size: 1.8rem;
}

#numberInputForm {
  display: none;
}

#buttonNumberInput {
  background-color: rgba(51, 51, 170, 0.2);
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.6rem;
  width: 150px;
  height: 60px;
  display: inline-block;
}

.numInputBtns {
  line-height: 3;
}

/* Number Buttons */
.nums {
  outline: none;
  border: 2px solid #404b69;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  background-color: #fff;
}

.nums:hover {
  background-color: #e7f2f8;
}

.nums:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* Card */
table {
  margin: auto;
}

.card {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 1% 2%;
  border-radius: 5%;
  position: relative;
}

.card-header {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px;
}

.guess {
  /* background-color: #cdcdcd; */
  background-color: rgba(189, 195, 199, 0.8);
  color: #da0463;
}

.scoreboard {
  /* background-color: #333; */
  background-color: rgba(46, 49, 49, 0.9);
  height: 200px;
}

.scoreIdentifier {
  font-size: 2rem;
  font-weight: 600;
}

.bulb {
  height: 50px;
  width: 50px;
  background-color: #111;
  border-radius: 50%;
  margin: 10px 5px;
}

#footer {
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  height: 2.5rem;
}

@media screen and (max-width: 600px) {

  .scoreboard {
    display: none;
  }
}